*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    width: 100vw;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

img{
    height: 70px;
}
.headers{
    background: black;
    padding: 20px 10px;
    font-size: 25px;
}
.first-header a{
    text-decoration: none;
    color: white
}
.first-header a:hover{
    color: yellow;
}
.body-part-1{
    background: rgba(0, 0, 0, 0.179);
    padding-bottom: 20px;
}
.body-part-1 h1{
    font-size: 30px;
    padding: 20px 20px;
    font-weight: bold;
}
.search{
    padding: 6px 2px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 80%;
}
.body-part-2{
    background: white;
    margin-top: 20px;
}
.container h2{
    font-size: 30px;
}
.container p{
    font-size: 25px;
    padding: 20px 20px;
}
.sapa{
    text-decoration: none;
    color: dodgerblue;
}
.sapa:hover{
    text-decoration: underline;
}
.using-abstract,
.manage-your-account,
.manage-orgs,
.manage-bills,
.authen-and-support,
.support{
    padding-bottom: 30px;
}
.body-part-3{
    background: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 70px;
}
.body-part-3 a{
    text-decoration: none;
    color: white;
}
.body-part-3 a:hover{
    text-decoration: underline;
}
.float-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
}
.abs a,
.resources a{
    display: block;
    word-spacing: 3px;
    padding: 2px 0;
}
.float-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
}
.community a,
.company a{
    display: block;
    word-spacing: 3px;
    padding: 2px 0;
}
